[submodule "firmware/net/components/quicr/lib"]
	path = firmware/net/components/quicr/lib
	url = git@github.com:Quicr/libquicr.git
[submodule "firmware/net/components/numero_uri/lib"]
	path = firmware/net/components/numero_uri/lib
	url = git@github.com:Quicr/numero-uri.git
