[submodule "firmware/net/components/quicr/lib"]
	path = firmware/net/components/quicr/lib
	url = git@github.com:Quicr/libquicr.git
	branch = main
[submodule "firmware/net/components/nlohmann_json/lib"]
	path = firmware/net/components/nlohmann_json/lib
	url = git@github.com:nlohmann/json.git
[submodule "firmware/ui/dependencies/sframe"]
	path = firmware/ui/dependencies/sframe
	url = https://github.com/GhostofCookie/sframe.git
