@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.user_info__container {
  display: block;
  text-align: center;
}

a,
.blue {
  text-decoration: none;
  color: #00bceb;
  transition: 0.4s;
}

.log__container
{
  /* padding: 10px; */
  background-color: #303030;
  /* color: white; */
  padding: 0;
  margin: 0;
  border: 1px solid grey;
}

.log__list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 400px;
}

.log__item {
  padding: 2px 5px;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.hide {
  display: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
